<h1>Transactions for <%= user.username %>.</h1>
<table class="table table-bordered table-striped">
    <a href="/transaction">transaction table</a>
    <thead>
        <tr>
            <th>description</th>
            <th>amount</th>
         
        </tr>
    </thead>

</table>
